.shop-card{
    height: 400px;
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.shop-img-container{
    position: relative;
    margin: 10px 0px;
    display: flex;
    height: 230px;
    width: 290px;
}
.gredient{
    position: absolute;
    background: linear-gradient(0deg, #0055ff96 0%, rgba(255, 255, 255, 0.068) 100%);
    height: 100%;
    z-index: 5;
    width: 100%;
}
.shop-img{
    height: 230px;
    width: 100%;
}
.shop-card .shop-title{
    left: 5px ;
    bottom: 5px;
    color: white;
    z-index: 10;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 600;
}

.shop-content{
    width: 280px;
    position: relative;
    flex: 1;
}
.shop-categ{
    margin: 10px 0px;
}
.shop-desc{
    margin: 10px 0px;
    font-size: 0.8rem;
    font-weight: 500;
}

.shop-status-open{
    color: rgb(1, 143, 1);
    margin: 10px 0px;

}
.shop-status-close{
    color: red;
    margin: 10px 0px;

}

.shop-booking-btn{
    position: absolute;
    bottom: 10%;
    right: 2%;
    padding: 8px 5px;
    background-color: #1e8bff;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 5px;
}
.ri-arrow-right-s-fill{
    color: white;
    font-size: 1.2rem;
}