.review {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.post-review {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 47px;
  border-bottom: 3px solid white;
}

.review-input {
  height: 100px;
  width: 500px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(117, 50, 255);
  outline: none;
}

.review-input::-webkit-scrollbar {
  appearance: none;
  display: none;
}

.post-review button {
  height: 35px;
  width: 100px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(117, 50, 255);
}

.review-container {
  height: 90vh;
  width: 85%;
  display: grid;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("/bg2.png");
  background-size: cover;
  background-position: center;

}

.review-container::-webkit-scrollbar {
  appearance: none;
  display: none;
}

.review-box {
  height: 200px;
  width: 200px;
  padding: 5px;
  margin: 20px;
  backdrop-filter: blur(10px);
  place-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.review-box .box-head {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid rgb(117, 50, 255);
  padding: 0px 5px;
}

.box-head p:nth-of-type(1) {
  color: rgb(117, 50, 255);
  scale: 1.1;
  font-weight: 600;
  text-transform: uppercase;
}

.review .review-heading h1 {
  font-size: 1.5rem;
}

.review .rate-star {
  display: flex;
  align-items: center;
}

.review .review-purple {
  color: rgb(117, 50, 255);
  scale: 1.1;
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .review-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .review-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .review-input {
    width: 300px;
  }
  .review h1 {
    font-size: 1.5rem;
  }
}
