.landing{
    height: 100%;
    width: 100%;
    padding:50px 0px 0px 50px;
}

/* ******************if not registered**************** */
.landing .landing-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}

.landing .landing-content h1{
    color:black;
}

.landing-content button{
    width: 200px;
    height: 35px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(117,50,255);
    border-radius: 30px;
}
.landing-content button:hover{
    scale: 1.01;
}

/* ***************if registered ************ */
.card{
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .card-inner img{
    width: 99%;
}
.card .card-inner{
    backdrop-filter: blur(10px);
    background-color: #ffffff2a;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    padding: 0px 0px 5px 5px;
    border-radius: 20px;
    width: 350px;
}

.card-row{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.card .card-row h2{
    color: rgba(0, 0, 0, 0.808);
    font-size: 1.2rem;
}

.card p{
    color: rgba(0, 0, 0, 0.74);
    text-transform: capitalize;
    margin: 10px 0px;
}

.card-inner span{
    color: black;
    font-weight: 600;
}

/* **********reviews*************** */
.bottom
{
    margin-top: 30px;
    height: fit-content;
    margin: auto;
    width: 80%;
}

.bottom h1{
    color: black;
}

.review-container {
    height: 90vh;
    width: 85%;
    display: grid;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  
  .review-container::-webkit-scrollbar {
    appearance: none;
    display: none;
  }
  
  .review-box {
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    place-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  }
  
  .review-box .box-head {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 0px 5px;
  }
  .review-box p{
    color: rgba(0, 0, 0, 0.623);
  } 
  .box-head p:nth-of-type(1) {
    color: black;
    scale: 1.1;
    font-weight: 600;
    text-transform: uppercase;
  }
  
   .ri-star-s-fill{
    color: goldenrod;
  }


  @media (max-width: 1200px) {
    .review-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 800px) {
     .landing .bottom>h1{
          font-size: 1.2rem;
      }

    .review-container {
      width: 100%;
      grid-template-columns: 1fr;
    }


    .landing{
        height: 100%;
        width: 100%;
        padding:0px;
        padding-top:10px;
    }

    .card{
        width: 100%;
    }

    .card .card-inner{
        backdrop-filter: blur(10px);
        background-color: #ffffff2a;
        padding-left:2px;
        border-radius: 5px;
        width: 300px;
    }
}