.footer{
    height: 350px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer .footer-logo{
    height: 20px;
    width: 200px;
}

.footer .content{
    border-top: 1px solid rgba(0, 0, 0, 0.185);
    height: 100%;
    width: 80vw;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    
}

.footer .content .footer-div1{
display: flex;
flex-direction: column;
padding-left: 10px;
justify-content: center;
gap: 20px;


}
.footer h1{
    font-size: 1.5rem;
    color: black;
}
.footer p,li,a{
    color: rgba(0, 0, 0, 0.658);
    text-decoration: none;
}

.footer .footer-icon{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.658);

}
.footer-div1 .icon-container{
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .content .footer-div2{
display:flex ;
justify-content: center;
gap: 10px;
align-items: center;
flex-direction: column;
}


.footer-div2 ul li{
    list-style: none;
    color: rgba(0, 0, 0, 0.685);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500

}

.footer .content .footer-div3{
    display:flex ;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
.footer .content .footer-div3 ul{
    display:flex ;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}



.footer-div3 ul li{
    list-style: none;
    color: rgba(0, 0, 0, 0.658);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500

}

@media (max-width:900px) {
    .footer .content .footer-div2{
        display: none;
        visibility: hidden;
    }
    .footer .content{
        grid-template-columns: 1.5fr 1.5fr;
    }
}

@media (max-width:600px) {
    .footer{
        height: 80vh;
    }
    .footer .content{
        grid-template-columns: 1fr;
    }
}