.shop-page
{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-page-container{
    margin: 10px;
}
.shop-page-container img{
    min-height: 50vh;
    width: 500px;
}
.shop-page-content{
    width: 500px;

}
.ri-star-s-fill{
    color: goldenrod;
}
.shop-page-btn{
    height: 30px;
    width: fit-content;
    padding:0px 10px;
    margin: 10px 0px;
    background-color: rgb(117,50,255);
    color: white;
    font-weight: 600;
    outline: none;
    border: 1px solid rgb(117,50,255);
    border-radius: 20px;
    cursor: pointer;
}
.shop-page-time{
    margin: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shop-page-title{
    color: rgb(117,50,255);
    text-transform: capitalize;
}
@media (max-width:500px) {

    .shop-page-content .shop-page-title{
        font-size: 1.3rem;
    }
    .shop-page-container img{
        width: 330px;
    }
    .shop-page-content{
        width: 300px;
    
    }
}