@keyframes move {
   100%{
       transform: translateX(30%);
   }
}

 

.category ul li{
    animation: move 3s linear infinite alternate;
}


.category{
    width: 100%;
    margin: auto;
    height: fit-content;
    border-radius: 10px;
}

.category ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:10px 10px;
}
.category::-webkit-scrollbar{
    appearance: none;
    visibility: hidden;
}

.category ul li{
    list-style: none;
    width: 130px;
    text-align: center;
    cursor: pointer;
}
.category .nav-active{
    color: rgb(117,50,255);
    scale: 1.1;
    font-weight: 500;
}

.category ul li:hover{
    color: rgb(117,50,255);
}




@media (max-width:800px) {
    .category{
        overflow-x: auto;

    }
    .category ul{
        width: fit-content;
        justify-content: flex-start;
        padding: 0px 20px;
        gap: 50px;
    }
}