.navbar {
  height: max(6vh,80px);
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.582);
  display: grid;
  place-items: center;
  z-index: 10;
}

.navbar > .nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  height: 100%;
}
.navbar img{
  height: 30px;
}
.nav a{
  text-decoration: none;
}

.navbar  .logout-btn{
  color: red;
  font-weight: 500;
  cursor: pointer;
}




