.landing {
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url("bg.png");
  background-position: center;
  background-size: cover;
}

.landing .landing-container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .home-left {
  width: 45%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing .home-left h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.landing .home-right {
  width: 45%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.landing .btn-grp {
  width: 100%;
  display: flex;
  gap: 10px;
}

.landing .btn-grp button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: transparent;
}

.landing .btn-grp a button{
  color: white;
  background-color: rgb(117,50,255);
}

@media (max-width:1000px) {
  .landing .home-left h1{
   font-size:2.5rem ;
  }
}

@media (max-width:800px) {
  .landing{
    height: 70vh;
  }
  .landing .home-left{
    width: 100%;

  }
  .landing .home-right p{
    font-size: 1.1rem;
  }
  .landing .home-right{
    width: 100%;
  }
  .landing .landing-container {
    flex-direction: column;
  }
}


