.login {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login .login-left{
  height: 100%;
  width: 50%;
  background-color:  white;
  display: grid;
  place-items: center;
}

.login .left-inner{
  width: 70%;
}

.login .left-inner img{
  width: 200px;
}

.login .left-inner p{
  text-align: center;
  width: 90%;
  font-size: 1.5rem;
  font-weight: 500;
}

.login .login-right{
  height: 100%;
  width: 50%;
  display: grid;
  background-color:rgb(117,50,255);
  place-items: center;
}

.login form {
  height: 500px;
  border-radius: 20px;
  width: 330px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 20px;
}

.login form #Login-password-div{
  width: 310px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.login form h1 {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}

.login form input {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none
}

.login button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: rgb(117,50,255);
  border: none;
  outline: none;
  font-size: 1.01rem;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
}

.login span{
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 600;
}

.login .ri-close-large-line{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.login form #login-password{
  width: 275px;
  border:none;
}

.login .right-lower{
  color: white;
}

@media (max-width:700px) {
  .login .login-left{
    display: none;
  }

  .login .login-right{
    height: 100%;
    width: 100%;
  }
}
