.navbar {
  height: max(6vh, 80px);
  width: 100%;
  display: grid;
 
  place-items: center;
  z-index: 10;
}

.navbar > .nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  height: 100%;
}

.navbar .nav-logo {
  height: 30px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar a {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(53, 53, 53);
  text-decoration: none;
  cursor: pointer;
}
.navbar ul a:hover {
  border-bottom: 1px solid rgb(53, 53, 53);
}

.navbar .nav-logout {
  color: red;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}

.nav p:hover {
  cursor: pointer;
  scale: 1.01;
}

.nav .nav-menu-response {
  display: none;
}

.navbar .nav-links-responsive {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 50vh;
  top: 0;
  background-color: #ffffff80;
  backdrop-filter: blur(10px);
  justify-content: center;
  z-index: 100;
  width: 100%;
  transition: top 0.3s ease-in-out;
}

.navbar #nav-responsive-active {
  display: none;
}

.nav-links-responsive .nav-responsive-close {
  position: absolute;
  right: 5%;
  top: 5%;
}

.nav-icon {
  font-size: 1.1rem;
}


@media (max-width: 800px) {
  .nav .nav-links {
    display: none;
  }
  .nav .nav-logout {
    display: none;
  }
  .nav .nav-menu-response {
    display: block;
  }
  #nav-responsive-active:checked + .nav-links-responsive {
    display: flex;
  }
}
